<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/category-bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{255,155}</string>
			<key>spriteSourceSize</key>
			<string>{255,155}</string>
			<key>textureRect</key>
			<string>{{1,1},{255,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/category-dot.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{155,155}</string>
			<key>spriteSourceSize</key>
			<string>{155,155}</string>
			<key>textureRect</key>
			<string>{{257,1},{155,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/changelog.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{81,103}</string>
			<key>spriteSourceSize</key>
			<string>{81,103}</string>
			<key>textureRect</key>
			<string>{{413,1},{81,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/close.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{495,1},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/delete-white.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{71,100}</string>
			<key>spriteSourceSize</key>
			<string>{71,100}</string>
			<key>textureRect</key>
			<string>{{596,1},{71,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/double-nav.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-11.0}</string>
			<key>spriteSize</key>
			<string>{176,239}</string>
			<key>spriteSourceSize</key>
			<string>{176,239}</string>
			<key>textureRect</key>
			<string>{{668,1},{176,239}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/download.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{170,195}</string>
			<key>spriteSourceSize</key>
			<string>{170,195}</string>
			<key>textureRect</key>
			<string>{{908,1},{170,195}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/exclamation-red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{56,114}</string>
			<key>spriteSourceSize</key>
			<string>{56,114}</string>
			<key>textureRect</key>
			<string>{{1104,1},{56,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/exclamation.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{39,120}</string>
			<key>spriteSourceSize</key>
			<string>{39,120}</string>
			<key>textureRect</key>
			<string>{{1161,1},{39,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/external-link.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1201,1},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-list-side.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{8,120}</string>
			<key>spriteSourceSize</key>
			<string>{8,120}</string>
			<key>textureRect</key>
			<string>{{1330,1},{8,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-list-top.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1374,64}</string>
			<key>spriteSourceSize</key>
			<string>{1374,64}</string>
			<key>textureRect</key>
			<string>{{1339,1},{1374,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/gift.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{121,121}</string>
			<key>spriteSourceSize</key>
			<string>{121,121}</string>
			<key>textureRect</key>
			<string>{{2714,1},{121,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/github.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{121,121}</string>
			<key>spriteSourceSize</key>
			<string>{121,121}</string>
			<key>textureRect</key>
			<string>{{2836,1},{121,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/globe.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{180,181}</string>
			<key>spriteSourceSize</key>
			<string>{180,181}</string>
			<key>textureRect</key>
			<string>{{2958,1},{180,181}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/homepage.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{121,119}</string>
			<key>spriteSourceSize</key>
			<string>{121,119}</string>
			<key>textureRect</key>
			<string>{{3140,1},{121,119}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/hue-sliders.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{175,177}</string>
			<key>spriteSourceSize</key>
			<string>{175,177}</string>
			<key>textureRect</key>
			<string>{{3260,1},{175,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-alert.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{92,92}</string>
			<key>spriteSourceSize</key>
			<string>{92,92}</string>
			<key>textureRect</key>
			<string>{{3436,1},{92,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-warning.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{114,99}</string>
			<key>spriteSourceSize</key>
			<string>{114,99}</string>
			<key>textureRect</key>
			<string>{{3529,1},{114,99}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/install.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{79,91}</string>
			<key>spriteSourceSize</key>
			<string>{79,91}</string>
			<key>textureRect</key>
			<string>{{3629,1},{79,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/message.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{120,112}</string>
			<key>spriteSourceSize</key>
			<string>{120,112}</string>
			<key>textureRect</key>
			<string>{{3709,1},{120,112}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/mods-list-bottom-gd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1556,140}</string>
			<key>spriteSourceSize</key>
			<string>{1556,140}</string>
			<key>textureRect</key>
			<string>{{1,182},{1556,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1556,140}</string>
			<key>spriteSourceSize</key>
			<string>{1556,140}</string>
			<key>textureRect</key>
			<string>{{1558,182},{1556,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side-gd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,256}</string>
			<key>spriteSourceSize</key>
			<string>{66,256}</string>
			<key>textureRect</key>
			<string>{{3115,182},{66,256}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/mods-list-side.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,256}</string>
			<key>spriteSourceSize</key>
			<string>{66,256}</string>
			<key>textureRect</key>
			<string>{{3372,182},{66,256}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/mods-list-top-gd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1650,240}</string>
			<key>spriteSourceSize</key>
			<string>{1650,240}</string>
			<key>textureRect</key>
			<string>{{1,323},{1650,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-top.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1650,240}</string>
			<key>spriteSourceSize</key>
			<string>{1650,240}</string>
			<key>textureRect</key>
			<string>{{1652,323},{1650,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/news.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{82,94}</string>
			<key>spriteSourceSize</key>
			<string>{82,94}</string>
			<key>textureRect</key>
			<string>{{3303,323},{82,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reload.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{129,115}</string>
			<key>spriteSourceSize</key>
			<string>{129,115}</string>
			<key>textureRect</key>
			<string>{{3386,323},{129,115}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/reset-gold.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,5.0}</string>
			<key>spriteSize</key>
			<string>{110,106}</string>
			<key>spriteSourceSize</key>
			<string>{110,106}</string>
			<key>textureRect</key>
			<string>{{3502,323},{110,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/reset.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,5.0}</string>
			<key>spriteSize</key>
			<string>{110,106}</string>
			<key>spriteSourceSize</key>
			<string>{110,106}</string>
			<key>textureRect</key>
			<string>{{3609,323},{110,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/search.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,212}</string>
			<key>spriteSourceSize</key>
			<string>{209,212}</string>
			<key>textureRect</key>
			<string>{{3716,323},{209,212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/settings.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{129,127}</string>
			<key>spriteSourceSize</key>
			<string>{129,127}</string>
			<key>textureRect</key>
			<string>{{3926,323},{129,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/tab-bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{220,220}</string>
			<key>spriteSourceSize</key>
			<string>{220,220}</string>
			<key>textureRect</key>
			<string>{{4054,323},{220,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/update.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{143,115}</string>
			<key>spriteSourceSize</key>
			<string>{143,115}</string>
			<key>textureRect</key>
			<string>{{4275,323},{143,115}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/updates-available.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{112,112}</string>
			<key>spriteSourceSize</key>
			<string>{112,112}</string>
			<key>textureRect</key>
			<string>{{4391,323},{112,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-failed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{112,112}</string>
			<key>spriteSourceSize</key>
			<string>{112,112}</string>
			<key>textureRect</key>
			<string>{{4504,323},{112,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-installed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{112,112}</string>
			<key>spriteSourceSize</key>
			<string>{112,112}</string>
			<key>textureRect</key>
			<string>{{4617,323},{112,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/version.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{65,100}</string>
			<key>spriteSourceSize</key>
			<string>{65,100}</string>
			<key>textureRect</key>
			<string>{{4730,323},{65,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/APISheet-uhd.png</string>
		<key>size</key>
		<string>{4800,4800}</string>
		<key>textureFileName</key>
		<string>geode.loader/APISheet-uhd.png</string>
	</dict>
</dict>
</plist>
