<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/baseAccount_Normal_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{166,163}</string>
			<key>textureRect</key>
			<string>{{1,1},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{166,163}</string>
			<key>textureRect</key>
			<string>{{168,1},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Purple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{166,163}</string>
			<key>textureRect</key>
			<string>{{335,1},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCategory_Big_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{11.0,-10.0}</string>
			<key>spriteSize</key>
			<string>{396,395}</string>
			<key>spriteSourceSize</key>
			<string>{396,395}</string>
			<key>textureRect</key>
			<string>{{502,1},{396,395}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{205,210}</string>
			<key>spriteSourceSize</key>
			<string>{205,210}</string>
			<key>textureRect</key>
			<string>{{899,1},{205,210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{205,208}</string>
			<key>spriteSourceSize</key>
			<string>{205,208}</string>
			<key>textureRect</key>
			<string>{{1105,1},{205,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,-7.0}</string>
			<key>spriteSize</key>
			<string>{212,217}</string>
			<key>spriteSourceSize</key>
			<string>{212,217}</string>
			<key>textureRect</key>
			<string>{{1311,1},{212,217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,-7.0}</string>
			<key>spriteSize</key>
			<string>{212,217}</string>
			<key>spriteSourceSize</key>
			<string>{212,217}</string>
			<key>textureRect</key>
			<string>{{1524,1},{212,217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-7.0}</string>
			<key>spriteSize</key>
			<string>{205,217}</string>
			<key>spriteSourceSize</key>
			<string>{205,217}</string>
			<key>textureRect</key>
			<string>{{1737,1},{205,217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{204,209}</string>
			<key>spriteSourceSize</key>
			<string>{204,209}</string>
			<key>textureRect</key>
			<string>{{1943,1},{204,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{205,208}</string>
			<key>spriteSourceSize</key>
			<string>{205,208}</string>
			<key>textureRect</key>
			<string>{{2148,1},{205,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-2.0}</string>
			<key>spriteSize</key>
			<string>{205,211}</string>
			<key>spriteSourceSize</key>
			<string>{205,211}</string>
			<key>textureRect</key>
			<string>{{2354,1},{205,211}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.5}</string>
			<key>spriteSize</key>
			<string>{206,212}</string>
			<key>spriteSourceSize</key>
			<string>{206,212}</string>
			<key>textureRect</key>
			<string>{{2560,1},{206,212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{210,213}</string>
			<key>spriteSourceSize</key>
			<string>{210,213}</string>
			<key>textureRect</key>
			<string>{{2767,1},{210,213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{206,211}</string>
			<key>spriteSourceSize</key>
			<string>{206,211}</string>
			<key>textureRect</key>
			<string>{{2978,1},{206,211}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.5}</string>
			<key>spriteSize</key>
			<string>{206,212}</string>
			<key>spriteSourceSize</key>
			<string>{206,212}</string>
			<key>textureRect</key>
			<string>{{3185,1},{206,212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.5}</string>
			<key>spriteSize</key>
			<string>{206,212}</string>
			<key>spriteSourceSize</key>
			<string>{206,212}</string>
			<key>textureRect</key>
			<string>{{3392,1},{206,212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-5.0}</string>
			<key>spriteSize</key>
			<string>{298,307}</string>
			<key>spriteSourceSize</key>
			<string>{298,307}</string>
			<key>textureRect</key>
			<string>{{3599,1},{298,307}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-5.0}</string>
			<key>spriteSize</key>
			<string>{297,307}</string>
			<key>spriteSourceSize</key>
			<string>{297,307}</string>
			<key>textureRect</key>
			<string>{{3898,1},{297,307}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,-4.0}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{305,311}</string>
			<key>textureRect</key>
			<string>{{4196,1},{305,311}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,-4.0}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{305,311}</string>
			<key>textureRect</key>
			<string>{{1,397},{305,311}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{298,306}</string>
			<key>spriteSourceSize</key>
			<string>{298,306}</string>
			<key>textureRect</key>
			<string>{{307,397},{298,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{298,306}</string>
			<key>spriteSourceSize</key>
			<string>{298,306}</string>
			<key>textureRect</key>
			<string>{{606,397},{298,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{298,306}</string>
			<key>spriteSourceSize</key>
			<string>{298,306}</string>
			<key>textureRect</key>
			<string>{{905,397},{298,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{189,194}</string>
			<key>spriteSourceSize</key>
			<string>{189,194}</string>
			<key>textureRect</key>
			<string>{{1204,397},{189,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{189,194}</string>
			<key>spriteSourceSize</key>
			<string>{189,194}</string>
			<key>textureRect</key>
			<string>{{1394,397},{189,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,-7.0}</string>
			<key>spriteSize</key>
			<string>{196,202}</string>
			<key>spriteSourceSize</key>
			<string>{196,202}</string>
			<key>textureRect</key>
			<string>{{1584,397},{196,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,-7.0}</string>
			<key>spriteSize</key>
			<string>{196,202}</string>
			<key>spriteSourceSize</key>
			<string>{196,202}</string>
			<key>textureRect</key>
			<string>{{1781,397},{196,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{189,193}</string>
			<key>spriteSourceSize</key>
			<string>{189,193}</string>
			<key>textureRect</key>
			<string>{{1978,397},{189,193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{189,194}</string>
			<key>spriteSourceSize</key>
			<string>{189,194}</string>
			<key>textureRect</key>
			<string>{{2168,397},{189,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{189,194}</string>
			<key>spriteSourceSize</key>
			<string>{189,194}</string>
			<key>textureRect</key>
			<string>{{2358,397},{189,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{175,181}</string>
			<key>spriteSourceSize</key>
			<string>{175,181}</string>
			<key>textureRect</key>
			<string>{{2548,397},{175,181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{175,181}</string>
			<key>spriteSourceSize</key>
			<string>{175,181}</string>
			<key>textureRect</key>
			<string>{{2724,397},{175,181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{180,183}</string>
			<key>spriteSourceSize</key>
			<string>{180,183}</string>
			<key>textureRect</key>
			<string>{{2900,397},{180,183}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{180,183}</string>
			<key>spriteSourceSize</key>
			<string>{180,183}</string>
			<key>textureRect</key>
			<string>{{3081,397},{180,183}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-2.5}</string>
			<key>spriteSize</key>
			<string>{174,180}</string>
			<key>spriteSourceSize</key>
			<string>{174,180}</string>
			<key>textureRect</key>
			<string>{{3262,397},{174,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-4.0}</string>
			<key>spriteSize</key>
			<string>{180,181}</string>
			<key>spriteSourceSize</key>
			<string>{180,181}</string>
			<key>textureRect</key>
			<string>{{3437,397},{180,181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-4.5}</string>
			<key>spriteSize</key>
			<string>{174,180}</string>
			<key>spriteSourceSize</key>
			<string>{174,180}</string>
			<key>textureRect</key>
			<string>{{3618,397},{174,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-2.0}</string>
			<key>spriteSize</key>
			<string>{159,161}</string>
			<key>spriteSourceSize</key>
			<string>{159,161}</string>
			<key>textureRect</key>
			<string>{{3793,397},{159,161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{159,160}</string>
			<key>spriteSourceSize</key>
			<string>{159,160}</string>
			<key>textureRect</key>
			<string>{{3953,397},{159,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{160,163}</string>
			<key>spriteSourceSize</key>
			<string>{160,163}</string>
			<key>textureRect</key>
			<string>{{4113,397},{160,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{160,163}</string>
			<key>spriteSourceSize</key>
			<string>{160,163}</string>
			<key>textureRect</key>
			<string>{{4274,397},{160,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{157,162}</string>
			<key>spriteSourceSize</key>
			<string>{157,162}</string>
			<key>textureRect</key>
			<string>{{4435,397},{157,162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-2.0}</string>
			<key>spriteSize</key>
			<string>{157,161}</string>
			<key>spriteSourceSize</key>
			<string>{157,161}</string>
			<key>textureRect</key>
			<string>{{4593,397},{157,161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{158,160}</string>
			<key>spriteSourceSize</key>
			<string>{158,160}</string>
			<key>textureRect</key>
			<string>{{1,709},{158,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.5}</string>
			<key>spriteSize</key>
			<string>{142,144}</string>
			<key>spriteSourceSize</key>
			<string>{142,144}</string>
			<key>textureRect</key>
			<string>{{160,709},{142,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{146,150}</string>
			<key>spriteSourceSize</key>
			<string>{146,150}</string>
			<key>textureRect</key>
			<string>{{303,709},{146,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{148,151}</string>
			<key>textureRect</key>
			<string>{{450,709},{148,151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{148,151}</string>
			<key>textureRect</key>
			<string>{{599,709},{148,151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{146,149}</string>
			<key>spriteSourceSize</key>
			<string>{146,149}</string>
			<key>textureRect</key>
			<string>{{748,709},{146,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{146,150}</string>
			<key>spriteSourceSize</key>
			<string>{146,150}</string>
			<key>textureRect</key>
			<string>{{895,709},{146,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.0}</string>
			<key>spriteSize</key>
			<string>{144,145}</string>
			<key>spriteSourceSize</key>
			<string>{144,145}</string>
			<key>textureRect</key>
			<string>{{1042,709},{144,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{98,103}</string>
			<key>spriteSourceSize</key>
			<string>{98,103}</string>
			<key>textureRect</key>
			<string>{{1187,709},{98,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{98,103}</string>
			<key>spriteSourceSize</key>
			<string>{98,103}</string>
			<key>textureRect</key>
			<string>{{1286,709},{98,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{100,103}</string>
			<key>spriteSourceSize</key>
			<string>{100,103}</string>
			<key>textureRect</key>
			<string>{{1385,709},{100,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{100,103}</string>
			<key>spriteSourceSize</key>
			<string>{100,103}</string>
			<key>textureRect</key>
			<string>{{1486,709},{100,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{100,103}</string>
			<key>spriteSourceSize</key>
			<string>{100,103}</string>
			<key>textureRect</key>
			<string>{{1587,709},{100,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{100,103}</string>
			<key>spriteSourceSize</key>
			<string>{100,103}</string>
			<key>textureRect</key>
			<string>{{1688,709},{100,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{100,103}</string>
			<key>spriteSourceSize</key>
			<string>{100,103}</string>
			<key>textureRect</key>
			<string>{{1789,709},{100,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Huge_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,1.5}</string>
			<key>spriteSize</key>
			<string>{395,383}</string>
			<key>spriteSourceSize</key>
			<string>{395,383}</string>
			<key>textureRect</key>
			<string>{{1890,709},{395,383}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Small_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,2.0}</string>
			<key>spriteSize</key>
			<string>{251,243}</string>
			<key>spriteSourceSize</key>
			<string>{251,243}</string>
			<key>textureRect</key>
			<string>{{2286,709},{251,243}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Aqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{128,131}</string>
			<key>textureRect</key>
			<string>{{2530,709},{128,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{128,131}</string>
			<key>textureRect</key>
			<string>{{2659,709},{128,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{128,131}</string>
			<key>textureRect</key>
			<string>{{2788,709},{128,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{128,131}</string>
			<key>textureRect</key>
			<string>{{2917,709},{128,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{128,131}</string>
			<key>textureRect</key>
			<string>{{3046,709},{128,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{128,131}</string>
			<key>textureRect</key>
			<string>{{3175,709},{128,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Orange.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{128,131}</string>
			<key>textureRect</key>
			<string>{{3304,709},{128,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{128,131}</string>
			<key>textureRect</key>
			<string>{{3433,709},{128,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Teal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{128,131}</string>
			<key>textureRect</key>
			<string>{{3562,709},{128,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{124,127}</string>
			<key>textureRect</key>
			<string>{{3691,709},{124,127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{124,127}</string>
			<key>textureRect</key>
			<string>{{3816,709},{124,127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{134,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,131}</string>
			<key>textureRect</key>
			<string>{{3941,709},{134,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseTab_Normal_Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-12.0}</string>
			<key>spriteSize</key>
			<string>{368,135}</string>
			<key>spriteSourceSize</key>
			<string>{368,135}</string>
			<key>textureRect</key>
			<string>{{4073,709},{368,135}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseTab_Normal_Unselected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{368,109}</string>
			<key>spriteSourceSize</key>
			<string>{368,109}</string>
			<key>textureRect</key>
			<string>{{4209,709},{368,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,5.0}</string>
			<key>spriteSize</key>
			<string>{368,109}</string>
			<key>spriteSourceSize</key>
			<string>{368,109}</string>
			<key>textureRect</key>
			<string>{{4319,709},{368,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BlankSheet-uhd.png</string>
		<key>size</key>
		<string>{4800,4800}</string>
		<key>textureFileName</key>
		<string>geode.loader/BlankSheet-uhd.png</string>
	</dict>
</dict>
</plist>
