<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gauntletLock_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{82,140}</string>
			<key>spriteSourceSize</key>
			<string>{82,140}</string>
			<key>textureRect</key>
			<string>{{1,1},{82,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_bonus_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{237,250}</string>
			<key>spriteSourceSize</key>
			<string>{237,250}</string>
			<key>textureRect</key>
			<string>{{142,1},{237,250}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_chaos_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{236,244}</string>
			<key>spriteSourceSize</key>
			<string>{236,244}</string>
			<key>textureRect</key>
			<string>{{393,1},{236,244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_crystal_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{237,244}</string>
			<key>spriteSourceSize</key>
			<string>{237,244}</string>
			<key>textureRect</key>
			<string>{{638,1},{237,244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_death_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{236,320}</string>
			<key>spriteSourceSize</key>
			<string>{236,320}</string>
			<key>textureRect</key>
			<string>{{883,1},{236,320}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_demon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{235,258}</string>
			<key>spriteSourceSize</key>
			<string>{235,258}</string>
			<key>textureRect</key>
			<string>{{1204,1},{235,258}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_doom_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{235,282}</string>
			<key>spriteSourceSize</key>
			<string>{235,282}</string>
			<key>textureRect</key>
			<string>{{1463,1},{235,282}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_fire_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{238,242}</string>
			<key>spriteSourceSize</key>
			<string>{238,242}</string>
			<key>textureRect</key>
			<string>{{1746,1},{238,242}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_ice_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{238,226}</string>
			<key>spriteSourceSize</key>
			<string>{238,226}</string>
			<key>textureRect</key>
			<string>{{1989,1},{238,226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_lava_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{239,266}</string>
			<key>spriteSourceSize</key>
			<string>{239,266}</string>
			<key>textureRect</key>
			<string>{{2228,1},{239,266}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_magic_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{237,256}</string>
			<key>spriteSourceSize</key>
			<string>{237,256}</string>
			<key>textureRect</key>
			<string>{{2495,1},{237,256}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_monster_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{237,264}</string>
			<key>spriteSourceSize</key>
			<string>{237,264}</string>
			<key>textureRect</key>
			<string>{{2752,1},{237,264}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_ncs01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{260,358}</string>
			<key>spriteSourceSize</key>
			<string>{260,358}</string>
			<key>textureRect</key>
			<string>{{3017,1},{260,358}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_ncs02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{260,358}</string>
			<key>spriteSourceSize</key>
			<string>{260,358}</string>
			<key>textureRect</key>
			<string>{{3376,1},{260,358}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{266,266}</string>
			<key>spriteSourceSize</key>
			<string>{266,266}</string>
			<key>textureRect</key>
			<string>{{3735,1},{266,266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,316}</string>
			<key>spriteSourceSize</key>
			<string>{256,316}</string>
			<key>textureRect</key>
			<string>{{4002,1},{256,316}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,276}</string>
			<key>spriteSourceSize</key>
			<string>{256,276}</string>
			<key>textureRect</key>
			<string>{{4319,1},{256,276}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,322}</string>
			<key>spriteSourceSize</key>
			<string>{256,322}</string>
			<key>textureRect</key>
			<string>{{1,268},{256,322}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,272}</string>
			<key>spriteSourceSize</key>
			<string>{250,272}</string>
			<key>textureRect</key>
			<string>{{324,268},{250,272}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new06_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{270,278}</string>
			<key>spriteSourceSize</key>
			<string>{270,278}</string>
			<key>textureRect</key>
			<string>{{597,268},{270,278}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new07_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{274,464}</string>
			<key>spriteSourceSize</key>
			<string>{274,464}</string>
			<key>textureRect</key>
			<string>{{876,268},{274,464}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new08_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,276}</string>
			<key>spriteSourceSize</key>
			<string>{256,276}</string>
			<key>textureRect</key>
			<string>{{1341,268},{256,276}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new09_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,284}</string>
			<key>spriteSourceSize</key>
			<string>{256,284}</string>
			<key>textureRect</key>
			<string>{{1618,268},{256,284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new10_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,306}</string>
			<key>spriteSourceSize</key>
			<string>{256,306}</string>
			<key>textureRect</key>
			<string>{{1903,268},{256,306}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new11_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,324}</string>
			<key>spriteSourceSize</key>
			<string>{256,324}</string>
			<key>textureRect</key>
			<string>{{2210,268},{256,324}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new12_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,276}</string>
			<key>spriteSourceSize</key>
			<string>{256,276}</string>
			<key>textureRect</key>
			<string>{{2535,268},{256,276}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new13_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,290}</string>
			<key>spriteSourceSize</key>
			<string>{256,290}</string>
			<key>textureRect</key>
			<string>{{2812,268},{256,290}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new14_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,278}</string>
			<key>spriteSourceSize</key>
			<string>{256,278}</string>
			<key>textureRect</key>
			<string>{{3103,268},{256,278}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new15_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,290}</string>
			<key>spriteSourceSize</key>
			<string>{256,290}</string>
			<key>textureRect</key>
			<string>{{3382,268},{256,290}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new16_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,362}</string>
			<key>spriteSourceSize</key>
			<string>{256,362}</string>
			<key>textureRect</key>
			<string>{{3673,268},{256,362}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new17_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,384}</string>
			<key>spriteSourceSize</key>
			<string>{256,384}</string>
			<key>textureRect</key>
			<string>{{4036,268},{256,384}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new18_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,266}</string>
			<key>spriteSourceSize</key>
			<string>{256,266}</string>
			<key>textureRect</key>
			<string>{{4421,268},{256,266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new19_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,308}</string>
			<key>spriteSourceSize</key>
			<string>{256,308}</string>
			<key>textureRect</key>
			<string>{{1,543},{256,308}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new20_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,338}</string>
			<key>spriteSourceSize</key>
			<string>{256,338}</string>
			<key>textureRect</key>
			<string>{{310,543},{256,338}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new21_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,400}</string>
			<key>spriteSourceSize</key>
			<string>{256,400}</string>
			<key>textureRect</key>
			<string>{{649,543},{256,400}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new22_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,308}</string>
			<key>spriteSourceSize</key>
			<string>{256,308}</string>
			<key>textureRect</key>
			<string>{{1050,543},{256,308}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new23_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,414}</string>
			<key>spriteSourceSize</key>
			<string>{256,414}</string>
			<key>textureRect</key>
			<string>{{1359,543},{256,414}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new24_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{276,322}</string>
			<key>spriteSourceSize</key>
			<string>{276,322}</string>
			<key>textureRect</key>
			<string>{{1774,543},{276,322}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new25_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,336}</string>
			<key>spriteSourceSize</key>
			<string>{256,336}</string>
			<key>textureRect</key>
			<string>{{2097,543},{256,336}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new26_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,302}</string>
			<key>spriteSourceSize</key>
			<string>{256,302}</string>
			<key>textureRect</key>
			<string>{{2434,543},{256,302}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new27_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,336}</string>
			<key>spriteSourceSize</key>
			<string>{256,336}</string>
			<key>textureRect</key>
			<string>{{2737,543},{256,336}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new28_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{276,458}</string>
			<key>spriteSourceSize</key>
			<string>{276,458}</string>
			<key>textureRect</key>
			<string>{{3074,543},{276,458}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new29_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,278}</string>
			<key>spriteSourceSize</key>
			<string>{256,278}</string>
			<key>textureRect</key>
			<string>{{3533,543},{256,278}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new30_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,290}</string>
			<key>spriteSourceSize</key>
			<string>{256,290}</string>
			<key>textureRect</key>
			<string>{{3812,543},{256,290}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new31_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{264,334}</string>
			<key>spriteSourceSize</key>
			<string>{264,334}</string>
			<key>textureRect</key>
			<string>{{4103,543},{264,334}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new32_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{264,332}</string>
			<key>spriteSourceSize</key>
			<string>{264,332}</string>
			<key>textureRect</key>
			<string>{{4438,543},{264,332}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new33_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{266,334}</string>
			<key>spriteSourceSize</key>
			<string>{266,334}</string>
			<key>textureRect</key>
			<string>{{1,820},{266,334}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new34_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,344}</string>
			<key>spriteSourceSize</key>
			<string>{256,344}</string>
			<key>textureRect</key>
			<string>{{336,820},{256,344}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new35_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{254,332}</string>
			<key>spriteSourceSize</key>
			<string>{254,332}</string>
			<key>textureRect</key>
			<string>{{681,820},{254,332}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_poison_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{236,262}</string>
			<key>spriteSourceSize</key>
			<string>{236,262}</string>
			<key>textureRect</key>
			<string>{{1014,820},{236,262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_shadow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{236,234}</string>
			<key>spriteSourceSize</key>
			<string>{236,234}</string>
			<key>textureRect</key>
			<string>{{1251,820},{236,234}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_spike_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{237,286}</string>
			<key>spriteSourceSize</key>
			<string>{237,286}</string>
			<key>textureRect</key>
			<string>{{1486,820},{237,286}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_time_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{237,274}</string>
			<key>spriteSourceSize</key>
			<string>{237,274}</string>
			<key>textureRect</key>
			<string>{{1773,820},{237,274}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>theLostGauntletsLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1262,140}</string>
			<key>spriteSourceSize</key>
			<string>{1262,140}</string>
			<key>textureRect</key>
			<string>{{2048,820},{1262,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GauntletSheet-uhd.png</string>
		<key>size</key>
		<string>{4800,4800}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fd65a9b78532349192cf677b36d8154a:c17dc4cc66d2a96c7dd01f054367bf87:e43528e55c10f2683a103180db48aec4$</string>
		<key>textureFileName</key>
		<string>GauntletSheet-uhd.png</string>
	</dict>
</dict>
</plist>
