<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_challengeBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1,1},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_createBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{420,1},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_creatorBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{280,280}</string>
			<key>spriteSourceSize</key>
			<string>{280,280}</string>
			<key>textureRect</key>
			<string>{{839,1},{280,280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_dailyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1120,1},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_eventBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1539,1},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_featuredBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1958,1},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_freeLevelsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{3,3}</string>
			<key>textureRect</key>
			<string>{{2377,1},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_fullBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{3,3}</string>
			<key>textureRect</key>
			<string>{{2381,1},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_gauntletsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{2385,1},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_highscoreBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{2804,1},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_listsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{3223,1},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_mapBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{3642,1},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_mapPacksBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{4061,1},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_moreGamesBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{3,3}</string>
			<key>textureRect</key>
			<string>{{4480,1},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_pathsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1,420},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_playBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{438,438}</string>
			<key>spriteSourceSize</key>
			<string>{438,438}</string>
			<key>textureRect</key>
			<string>{{420,420},{438,438}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_safeBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{174,196}</string>
			<key>spriteSourceSize</key>
			<string>{174,196}</string>
			<key>textureRect</key>
			<string>{{859,420},{174,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_savedBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1034,420},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_searchBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1453,420},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_versusBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{1872,420},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_weeklyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,418}</string>
			<key>spriteSourceSize</key>
			<string>{418,418}</string>
			<key>textureRect</key>
			<string>{{2291,420},{418,418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_01_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,164}</string>
			<key>spriteSourceSize</key>
			<string>{128,164}</string>
			<key>textureRect</key>
			<string>{{2710,420},{128,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_02_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,216}</string>
			<key>spriteSourceSize</key>
			<string>{122,216}</string>
			<key>textureRect</key>
			<string>{{2839,420},{122,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_03_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{192,216}</string>
			<key>spriteSourceSize</key>
			<string>{192,216}</string>
			<key>textureRect</key>
			<string>{{2962,420},{192,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_04_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,216}</string>
			<key>spriteSourceSize</key>
			<string>{250,216}</string>
			<key>textureRect</key>
			<string>{{3155,420},{250,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boost_05_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,206}</string>
			<key>spriteSourceSize</key>
			<string>{256,206}</string>
			<key>textureRect</key>
			<string>{{3372,420},{256,206}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gj_dailyCrown_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{327,234}</string>
			<key>spriteSourceSize</key>
			<string>{327,234}</string>
			<key>textureRect</key>
			<string>{{3579,420},{327,234}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gj_eventCrown_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{322,248}</string>
			<key>spriteSourceSize</key>
			<string>{322,248}</string>
			<key>textureRect</key>
			<string>{{3814,420},{322,248}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>gj_weeklyCrown_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{327,238}</string>
			<key>spriteSourceSize</key>
			<string>{327,238}</string>
			<key>textureRect</key>
			<string>{{4063,420},{327,238}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{188,180}</string>
			<key>spriteSourceSize</key>
			<string>{188,180}</string>
			<key>textureRect</key>
			<string>{{4302,420},{188,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{242,232}</string>
			<key>spriteSourceSize</key>
			<string>{242,232}</string>
			<key>textureRect</key>
			<string>{{4483,420},{242,232}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{252,264}</string>
			<key>spriteSourceSize</key>
			<string>{252,264}</string>
			<key>textureRect</key>
			<string>{{1,859},{252,264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,268}</string>
			<key>spriteSourceSize</key>
			<string>{256,268}</string>
			<key>textureRect</key>
			<string>{{254,859},{256,268}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{266,272}</string>
			<key>spriteSourceSize</key>
			<string>{266,272}</string>
			<key>textureRect</key>
			<string>{{523,859},{266,272}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{276,282}</string>
			<key>spriteSourceSize</key>
			<string>{276,282}</string>
			<key>textureRect</key>
			<string>{{796,859},{276,282}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{282,286}</string>
			<key>spriteSourceSize</key>
			<string>{282,286}</string>
			<key>textureRect</key>
			<string>{{1079,859},{282,286}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{282,286}</string>
			<key>spriteSourceSize</key>
			<string>{282,286}</string>
			<key>textureRect</key>
			<string>{{1366,859},{282,286}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerDash2_boom2_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{282,284}</string>
			<key>spriteSourceSize</key>
			<string>{282,284}</string>
			<key>textureRect</key>
			<string>{{1653,859},{282,284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_01_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{149,287}</string>
			<key>spriteSourceSize</key>
			<string>{149,287}</string>
			<key>textureRect</key>
			<string>{{1938,859},{149,287}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_01_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,287}</string>
			<key>spriteSourceSize</key>
			<string>{62,287}</string>
			<key>textureRect</key>
			<string>{{2226,859},{62,287}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_02_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{172,288}</string>
			<key>spriteSourceSize</key>
			<string>{172,288}</string>
			<key>textureRect</key>
			<string>{{2514,859},{172,288}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_02_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{144,332}</string>
			<key>spriteSourceSize</key>
			<string>{144,332}</string>
			<key>textureRect</key>
			<string>{{2803,859},{144,332}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{198,288}</string>
			<key>spriteSourceSize</key>
			<string>{198,288}</string>
			<key>textureRect</key>
			<string>{{3136,859},{198,288}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_03_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{176,356}</string>
			<key>spriteSourceSize</key>
			<string>{176,356}</string>
			<key>textureRect</key>
			<string>{{3425,859},{176,356}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{178,295}</string>
			<key>spriteSourceSize</key>
			<string>{178,295}</string>
			<key>textureRect</key>
			<string>{{3782,859},{178,295}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_04_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{99,347}</string>
			<key>spriteSourceSize</key>
			<string>{99,347}</string>
			<key>textureRect</key>
			<string>{{4078,859},{99,347}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_05_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{132,280}</string>
			<key>spriteSourceSize</key>
			<string>{132,280}</string>
			<key>textureRect</key>
			<string>{{4426,859},{132,280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_05_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{132,296}</string>
			<key>spriteSourceSize</key>
			<string>{132,296}</string>
			<key>textureRect</key>
			<string>{{1,1142},{132,296}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_06_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{172,288}</string>
			<key>spriteSourceSize</key>
			<string>{172,288}</string>
			<key>textureRect</key>
			<string>{{298,1142},{172,288}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portalshine_06_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,350}</string>
			<key>spriteSourceSize</key>
			<string>{86,350}</string>
			<key>textureRect</key>
			<string>{{587,1142},{86,350}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spiderDash_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{872,76}</string>
			<key>spriteSourceSize</key>
			<string>{872,76}</string>
			<key>textureRect</key>
			<string>{{938,1142},{872,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{818,82}</string>
			<key>spriteSourceSize</key>
			<string>{818,82}</string>
			<key>textureRect</key>
			<string>{{1811,1142},{818,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{842,78}</string>
			<key>spriteSourceSize</key>
			<string>{842,78}</string>
			<key>textureRect</key>
			<string>{{2630,1142},{842,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{850,78}</string>
			<key>spriteSourceSize</key>
			<string>{850,78}</string>
			<key>textureRect</key>
			<string>{{3473,1142},{850,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{854,76}</string>
			<key>spriteSourceSize</key>
			<string>{854,76}</string>
			<key>textureRect</key>
			<string>{{1,1315},{854,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{854,78}</string>
			<key>spriteSourceSize</key>
			<string>{854,78}</string>
			<key>textureRect</key>
			<string>{{856,1315},{854,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{862,76}</string>
			<key>spriteSourceSize</key>
			<string>{862,76}</string>
			<key>textureRect</key>
			<string>{{1711,1315},{862,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{870,74}</string>
			<key>spriteSourceSize</key>
			<string>{870,74}</string>
			<key>textureRect</key>
			<string>{{2574,1315},{870,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>theTowerDoor_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{464,458}</string>
			<key>spriteSourceSize</key>
			<string>{464,458}</string>
			<key>textureRect</key>
			<string>{{3445,1315},{464,458}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>theTowerLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{368,176}</string>
			<key>spriteSourceSize</key>
			<string>{368,176}</string>
			<key>textureRect</key>
			<string>{{3910,1315},{368,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_GameSheet04-uhd.png</string>
		<key>size</key>
		<string>{4800,4800}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b9f3be71f24a86cf0c6bb3d8041c518f:05b130463cb97789ed49a6158ca85c2c:33b2fcce3ca4ec9ea925d11e504ae182$</string>
		<key>textureFileName</key>
		<string>GJ_GameSheet04-uhd.png</string>
	</dict>
</dict>
</plist>
