<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_lite_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,-4.0}</string>
			<key>spriteSize</key>
			<string>{354,116}</string>
			<key>spriteSourceSize</key>
			<string>{354,116}</string>
			<key>textureRect</key>
			<string>{{1,1},{354,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-22.0}</string>
			<key>spriteSize</key>
			<string>{1716,172}</string>
			<key>spriteSourceSize</key>
			<string>{1716,172}</string>
			<key>textureRect</key>
			<string>{{356,1},{1716,172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_md_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.0,-7.5}</string>
			<key>spriteSize</key>
			<string>{734,139}</string>
			<key>spriteSourceSize</key>
			<string>{734,139}</string>
			<key>textureRect</key>
			<string>{{2073,1},{734,139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-6.5}</string>
			<key>spriteSize</key>
			<string>{583,173}</string>
			<key>spriteSourceSize</key>
			<string>{583,173}</string>
			<key>textureRect</key>
			<string>{{2808,1},{583,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cocos2DxLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{360,96}</string>
			<key>spriteSourceSize</key>
			<string>{360,96}</string>
			<key>textureRect</key>
			<string>{{3392,1},{360,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fmodLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{360,95}</string>
			<key>spriteSourceSize</key>
			<string>{360,95}</string>
			<key>textureRect</key>
			<string>{{3753,1},{360,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_subzeroLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.5,-7.5}</string>
			<key>spriteSize</key>
			<string>{647,155}</string>
			<key>spriteSourceSize</key>
			<string>{647,155}</string>
			<key>textureRect</key>
			<string>{{4114,1},{647,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_worldLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.5,-7.0}</string>
			<key>spriteSize</key>
			<string>{532,154}</string>
			<key>spriteSourceSize</key>
			<string>{532,154}</string>
			<key>textureRect</key>
			<string>{{1,175},{532,154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_LaunchSheet-uhd.png</string>
		<key>size</key>
		<string>{4800,4800}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:71d38a9ac19456aaef500614835d0efc:a121b0f209e6a62e181364263d8fb6e9:7d5c3afd3b92bdb6b931d2f277b34c00$</string>
		<key>textureFileName</key>
		<string>GJ_LaunchSheet-uhd.png</string>
	</dict>
</dict>
</plist>
